<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV MAKER</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img src="{{ url_for('static', filename='images/logo-univesp_simplificado_cor-negativo.png') }}" alt="logo" width="350" height="100">
                <h1>Gerador de Currículo</h1>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Página Inicial</a>
                            </li>
                            <li class="nav-item">
                                <a class a="nav-link" href="/blog">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/form-html">Faça seu Currículo</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<main class="container mt-4">
    <h1>Conheça Nosso Blog</h1>
    <section class="categorias">
      {% for sku in data %}
      <div class="sku">
        <h3><br><br>{{ sku[1] }}<br><br></h3>
        <a href="{{ url_for('publi', id=sku[0]) }}">
          <img class="responsive-image" src="{{ 'static/blog/' + sku[2] }}" alt="{{ sku[1 }}">
        </a>
      </div>
      {% endfor %}
    <br><br>
     </section>
</main>
<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Contato</h3>
                <p>Entre em contato conosco através dos Emails: 2108487@aluno.univesp.br, 2100530@aluno.univesp.br 2101355@aluno.univesp.br, 2005099@aluno.univesp.br, 2106972@aluno.univesp.br, 2110167@aluno.univesp.br</p>
            </div>
            <div class="col-md-4">
                <h3>Links Uteis</h3>
                <ul>
                    <li><a href="https://github.com/vitor-ozols/UNIVESP-DRP14-PJI240-SALA-003GRUPO-001">Github</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/form-html">Faça seu Currículo</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Sobre Nós</h3>
                <p>Juntos, capacitando jovens periféricos para construir um futuro brilhante no mercado de trabalho.</p>
            </div>
        </div>
    </div>
</footer>
<script>
    $(document).ready(function() {
        // Aplica a máscara de entrada para o campo de telefone
        $('#telefone').inputmask("(99) 99999-9999");
    });
</script>
</body>
</html>
