<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV MAKER</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
  </head>
  <body>
    <header>
      <img src="{{ url_for('static', filename='images/logo-univesp_simplificado_cor-negativo.png') }}" alt="logo" width="350" height="100">
      <h1>Gerador de Currículum</h1>
    </header>
    <main class="container mt-4">
      <section class="comp">
        <h1 class="text-center mb-4">Assinale as suas Prováveis Competências:</h1>
        <form action="/cvmaker" method="POST">
          {% for qualification in qualifications %}
          <div class="form-check mb-2">
            <input type="checkbox" class="form-check-input" name="competencias" value="{{ qualification }}" id="competencia{{ loop.index }}">
            <label class="form-check-label" for="competencia{{ loop.index }}">{{ qualification }}</label>
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary mt-4">Enviar</button>
        </form>
      </section>
    </main>
    <footer class="bg-dark text-white py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Contato</h3>
            <p>Entre em contato comigo pelo telefone (19) 996258380 ou pelo email contato.divinobasics@gmail.com</p>
          </div>
          <div class="col-md-4">
            <h3>Redes sociais</h3>
            <ul>
              <li><a href="https://wa.me/message/2ANAMSFEO3JWL1">Whatsapp</a></li>
              <li><a href="https://instagram.com/divinobasics?igshid=MzRlODBiNWFlZA==">Instagram</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3>Sobre a Divino</h3>
            <p>Acredito que a autoestima da mulher esteja ligada diretamente ao modo que ela se veste, e quero trazer essa beleza pra fora com as peças da Divino</p>
          </div>
        </div>
      </div>
    </footer>
    <script>
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
